.warm-color{
    background-image: linear-gradient(#ff5e62, #ffe81c);
}

.hot-color{
    background-image: linear-gradient(red, #f06d06);
}

.cool-color{
    background-image: linear-gradient(#02AAB0, #00cdac);
}

.cold-color{
    background-image: linear-gradient(#4568DC, #B06AB3);
}

.weather-card{
    padding: .5em;
    margin: .5em;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px;
    display: grid;
    border-radius: 2%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "info info info temp temp"
                         "user user user user user";
}

.city-section{
    grid-area: info;
    display: flex;
}

.sub{
    position: relative;
    bottom: 1ex;
    font-size: .6em;
}

.info{
    justify-content: center;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.temp{
    align-items: center;
    font-size: 2em;
}

.userInfo{
    border-top: 1px solid black;
    grid-area: user;
    padding: .5em;
}

.temp-sec{
    grid-area: temp;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}